## oracle connection

In [1]:
import cx_Oracle as cx

In [2]:
cn=cx.connect('system/manager@127.0.0.1:1521/orcl')

In [3]:
cur=cn.cursor()

## Products_Table

In [ ]:
def insert_products_details(p_id,p_name,p_desc,p_quant,p_cp,p_sp,purch_date):
    
    prod_details='insert into PRODUCTS_TABLE(Prod_id,prod_name,prod_desc,prod_quantity,cost_price,selling_price,purchase_date) values(:1,:2,:3,:4,:5,:6,:7)'
    para=[p_id,p_name,p_desc,p_quant,p_cp,p_sp,purch_date]
    cur.execute(prod_details,para)
    cn.commit()
    print('Record inserted')

In [ ]:
from dateutil.parser import parse
datetime = parse('2018-06-29')
insert_products_details(1,'Dress','Polyester material and machine wash',5,1000,1500,datetime)

In [ ]:
from dateutil.parser import parse
d2=parse('2019-06-29')
insert_products_details(2,'Shoes','Shoes for all',6,1500,1700,d2)
d3=parse('2019-09-29')
insert_products_details(3,'Belts','Leather',4,500,550,d3)

In [ ]:
d4=parse('2019-06-29')
insert_products_details(4,'Pants','Cotton & machine wash',5,800,950,d4)
d5=parse('2019-09-15')
insert_products_details(5,'Saari','Silk & Dry clean',4,3000,4000,d5)
d6=parse('2019-06-29')
insert_products_details(6,'Suit','Georgette',6,2000,2800,d6)
d7=parse('2019-09-29')
insert_products_details(7,'Watch','Quartz & Analogue',2,3000,3500,d7)
d8=parse('2019-06-15')
insert_products_details(8,'Handbag','PU & Sling',6,600,850,d8)
d9=parse('2019-09-17')
insert_products_details(9,'Tops','Georgette',4,800,1100,d9)

In [ ]:
prod=cur.execute('Select * from PRODUCTS_TABLE')
for p in prod:
    print(p)

## Customers_Table

In [ ]:
def insert_customers_details(c_id,c_name,c_address,c_email,c_phn):
    
    cust_details='insert into CUSTOMERS_TABLE(cust_id,cust_fullname,cust_address,cust_email,cust_contact) values(:1,:2,:3,:4,:5)'
    para=[c_id,c_name,c_address,c_email,9898898]
    cur.execute(cust_details,para)
    cn.commit()
    print('Record inserted')

In [ ]:
insert_customers_details(7,'Jn2 Sehgal','Noida','jatinsehgal1989@gmail.com',9958909764)

In [ ]:
insert_customers_details(1,'Jatin Sehgal','Noida','jatin.sehgal@gmail.com',9958909764)

In [ ]:
insert_customers_details(2,'Vanya Mehta','karnal','vanya.mehta@gmail.com',9996653150)
insert_customers_details(3,'vanshaj mehta','sirsa','vanshaj.dudeja@gmail.com',8901511174)

In [ ]:
insert_customers_details(4,'Deepa Sehgal','Delhi','deepa.sehgal@gmail.com',8765943234)
insert_customers_details(5,'sonia gumber','Gurgaon','sonia.gumber@gmail.com',9876511174)

## Sales_Invoice_table

In [ ]:
def getprice(p_id):
    dbprice=cur.execute('select selling_price from PRODUCTS_TABLE where prod_id='+str(p_id) )
    p=dbprice.fetchone()  
    return(int(p[0]) )

In [ ]:
def getdiscount(p_id):
    d=cur.execute('select dis from DISCOUNT_TABLE where prod_id='+str(p_id))
    dis=d.fetchone()  
    return(int(dis[0]) )

In [ ]:
def insert_invoice_details(Inv_id,sr_no,p_id,q): 
    p1 = getprice(p_id)
    price=p1*q  
    d1=getdiscount(p_id)
    disc_price=(d1/100)*price
    sp=price-disc_price
    #print('R1')
    invoice_details='insert into SALES_INVOICE_TABLE(INV_ID,line_no,PROD_ID,quantity,mrp,DISCOUNT,sell_price) values(:1,:2,:3,:4,:5,:6,:7)'
    #print('R2')
    para=[Inv_id,sr_no,p_id,q,price,disc_price,sp]
    #print('R3')
    cur.execute(invoice_details,para)
    #print('R4')
    cn.commit()
    print('Record inserted')

In [ ]:
insert_invoice_details('INV001',1,1,2)

In [ ]:
insert_invoice_details('INV001',2,2,1)
insert_invoice_details('INV002',1,3,1)
insert_invoice_details('INV002',2,6,2)
insert_invoice_details('INV002',3,7,1)

insert_invoice_details('INV003',1,5,2)
insert_invoice_details('INV003',2,6,1)

insert_invoice_details('INV004',1,1,2)
insert_invoice_details('INV004',2,5,1)
insert_invoice_details('INV004',3,6,1)
insert_invoice_details('INV004',4,8,2)

In [ ]:
insert_invoice_details('INV005',1,2,1)
insert_invoice_details('INV005',2,3,1)
insert_invoice_details('INV005',3,4,2)
insert_invoice_details('INV005',4,9,3)

## update_Sales_header_table

In [4]:
def find_head_disc():
    ques=input('Do you want to give Header discount')
    if ques=='Y' or ques=='y':
        amt=int(input('enter amount for discount'))
    else:
        amt=0
    return(amt)

In [5]:
def get_inv_price(In_id):
    val = 'select sum(sell_price) from SALES_INVOICE_TABLE where Inv_id=\''+In_id+'\'';
    p=cur.execute(val)
    tp=p.fetchone()   
    return(int(tp[0]))

In [ ]:
get_inv_price('INV001')

In [ ]:
find_head_disc()

In [6]:
def update_header_details(In_id,In_dt):
    total_price=get_inv_price(In_id)
    
    h_disc=find_head_disc()
    
    final_amt=total_price-h_disc    
    header_details='update SALES_HEADER_TABLE set total_inv_sp=:2,INV_DATE=:3,HEADER_DISCOUNT=:4,final_sp=:5 where INV_ID =\''+In_id+'\' '
    
    para=[total_price,In_dt,h_disc,final_amt]
    
    cur.execute(header_details,para)
    #
    cn.commit()
    print('Record inserted')

In [7]:
update_header_details('INV001','09-Apr-2020')

Do you want to give Header discountn
Record inserted

In [10]:
update_header_details('INV002','15-Apr-2020')

Do you want to give Header discounty
enter amount for discount15
Record inserted

In [17]:
update_header_details('INV003','15-Apr-2020')

Do you want to give Header discountn
Record inserted

In [15]:
update_header_details('INV004','28-Apr-2020')

Do you want to give Header discounty
enter amount for discount20
Record inserted

In [16]:
update_header_details('INV005','29-Apr-2020')

Do you want to give Header discounty
enter amount for discount55
Record inserted